@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 20%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 20%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 20%;
    --primary: 156 100% 41.6%;
    --primary-foreground: 0 0% 100%;
    --secondary: 180 100% 37.6%;
    --secondary-foreground: 0 0% 100%;
    --muted: 0 0% 94%;
    --muted-foreground: 0 0% 53%;
    --accent: 211 100% 50%;
    --accent-foreground: 0 0% 100%;
    --destructive: 4 100% 59%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 90%;
    --input: 0 0% 90%;
    --ring: 156 100% 41.6%;
    --radius: 0.75rem;
  }

  .dark {
    --background: 0 0% 9%;
    --foreground: 0 0% 100%;
    --card: 0 0% 9%;
    --card-foreground: 0 0% 100%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 100%;
    --primary: 156 100% 41.6%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 100%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 70%;
    --accent: 211 100% 45%;
    --accent-foreground: 0 0% 100%;
    --destructive: 4 70% 40%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 156 100% 41.6%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
